* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  border: solid;  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul {

  padding: 1rem 0 1rem 0;
  line-height: 1.5rem;
}
ul li {
  cursor: pointer;
}

input {
  border: none;
  background-color: #252734;
  color: #fff;
  padding: .5rem;
  margin-bottom: .5rem;
  border-radius: .15rem;
  
}
input::placeholder {
  color: #fff;
}
input:focus {
  outline: none;
}

button {
  padding: .4rem;
  background-color: #252734;
  width: 4rem;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: .15rem;

}
